@charset "utf-8";
/* utils */
@import "utils/variables";
@import "utils/mixins";
/* base */
@import "base/reset";
/* layout parts */
@import "layout/header";
@import "layout/footer";

/* styles */
#wrapper{
	position: relative;
	overflow: hidden;
}
#main{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		z-index: 700;
		top: -100%;
		left: -100%;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
		opacity: 0;
		@include fade(opacity);
	}
}
.nav-visible #main:after{
	left: 0;
	top: 0;
	opacity: 1;
}
	/* promo block */
.promo{
	margin-bottom: 124px;
	background: url('../images/bg-promo.jpg') no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	.holder{
		position: relative;
		padding-top: 1037px;
		h2{
			position: absolute;
			top: 120px;
			right: 20px;
			width: 488px;
			font-size: 32px;
			line-height: 2;
			font-weight: normal;
			color: #78684a;
			letter-spacing: 5px;
		}
		.mother-image{
			position: absolute;
			top: 69px;
			left: -40px;
			width: 58.6%;
			img{
				display: block;
				width: 100%;
			}
		}
		.child-image{
			position: absolute;
			top: 651px;
			left: 50%;
			margin-left: -139px;
			width: 248px;
			img{
				display: block;
				width: 100%;
			}
		}
		.center-image{
			position: absolute;
			top: 285px;
			right: -1px;
			width: 42.3%;
			img{
				display: block;
				width: 100%;
			}
		}
		.text-box{
			margin: 0 auto 100px;
			width: 740px;
			text-align: center;
			h3{
				margin-bottom: 30px;
				font-size: 32px;
				line-height: 2;
				font-weight: normal;
				letter-spacing: 7px;
				span{
					display: inline-block;
					vertical-align: top;
					padding: 0 122px;
					background: url('../images/icon-flower-left.png') no-repeat;
					position: relative;
					&:after{
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 92px;
						height: 48px;
						background: url('../images/icon-flower-right.png') no-repeat;
					}
				}
			}
			p{
				line-height: 35px;
				letter-spacing: 5px;
				span{
					display: block;
				}
			}
		}
	}
	@media only screen and (max-width: 1200px) {
		.holder{
			h2{
				right: 65px;
				letter-spacing: 0;
				width: 42%;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			padding-top: 925px;
			h2{
				right: 20px;
				font-size: 25px;
				width: 46%;
			}
			.child-image{
				top: 610px;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 37px;
		background-image: url('../images/bg-promo-sp.jpg');
		background-position: 50% 100%;
		.holder{
			padding-top: 38px;
			h2{
				position: relative;
				right: 0;
				top: 0;
				width: 250px;
				margin: 0 auto 5px;
				font-size: 16px;
				line-height: 32px;
				text-align: center;
				letter-spacing: 2px;
			}
			.mother-image{
				position: relative;
				top: 0;
				left: 0;
				width: 80.55%;
				margin: 0 auto;
			}
			.child-image{
				position: relative;
				top: 0;
				left: 0;
				margin: -29px 0 0 -3px;
				float: left;
				width: 39%;
			}
			.center-image{
				position: relative;
				top: 0;
				right: 0;
				float: right;
				margin: 14px -12px 31px 0;
				width: 63%;
			}
			.text-box{
				clear: both;
				width: auto;
				margin: 0 -5px 63px;
				h3{
					margin-bottom: 16px;
					font-size: 16px;
					letter-spacing: 3px;
					span{
						padding: 0 54px;
						-webkit-background-size: 36px 19px;
						background-size: 36px 19px;
						background-position: 0 50%;
						&:after{
							top: 50%;
							margin-top: -10px;
							width: 36px;
							height: 19px;
							-webkit-background-size: 36px 19px;
							background-size: 36px 19px;
						}
					}
				}
				p{
					font-size: 12px;
					line-height: 20px;
					letter-spacing: -1px;
					text-align: left;
					margin-bottom: 20px;
					span{
						display: inline;
					}
				}
			}
		}
	}
}
/* right fixed links */
.right-fixed-links{
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -239px;
	z-index: 50;
	a{
		display: block;
		width: 84px;
		height: 232px;
		text-indent: -9999px;
		overflow: hidden;
		&.time{
			background: url('../images/bg-link-time.png') no-repeat;
			margin-bottom: 14px;
		}
		&.access{
			background: url('../images/bg-link-access.png') no-repeat;
		}
	}
	@media only screen and (max-width: 1000px) {
		a{
			width: 42px;
			height: 116px;
			&.time,
			&.access{
				-webkit-background-size: 42px 116px;
				background-size: 42px 116px;
			}
		}
	}
}
/* intro links */
.intro-block{
	background: url('../images/bg-intro.jpg') no-repeat 0 39%;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	@media only screen and (max-width: 736px) {
		-webkit-background-size: 900px auto;
		background-size: 900px auto;
		background-position: 28% 39%;
	}
}
.intro-images{
	margin-bottom: 50px;
	overflow: hidden;
	@include box-flex;
	justify-content: space-between;
	li{
		width: 27.7%;
		margin-bottom: 20px;
		a{
			display: block;
			text-align: center;
			@include fade(all);
			strong{
				display: block;
				margin-bottom: 24px;
				font-size: 27px;
				line-height: 1.2;
				font-weight: normal;
			}
			span{
				display: block;
				padding: 6px;
				background: url('../images/bg-border-intro-images.jpg') no-repeat;
				-webkit-background-size: 100% 100%;
				background-size: 100% 100%;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				overflow: hidden;
				img{
					display: block;
					width: 100%;
					-webkit-border-radius: 14px;
					-moz-border-radius: 14px;
					border-radius: 14px;
					overflow: hidden;
				}
			}
			&:hover{
				text-decoration: none !important;
				opacity: 0.7;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		li{
			width: 30%;
		}
	}
	@media only screen and (max-width: 736px) {
		flex-wrap: wrap;
		margin: 0 15px;
		li{
			width: 100%;
			padding: 3px;
			@include box-sizing;
			background: url('../images/bg-border-intro-images.jpg') no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			margin-bottom: 19px;
			a{
				text-align: left;
				background: $white;
				-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
				border-radius: 7px;
				position: relative;
				@include box-flex;
				align-items: center;
				justify-content: space-between;
				overflow: hidden;
				strong{
					margin: 0;
					font-size: 12px;
					line-height: 1.2;
					padding: 0 10px 0 23px;
					width: 50.31%;
					@include box-sizing;
				}
				span{
					display: block;
					width: 120px;
					padding: 0;
					background: none;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					border-radius: 0;
					img{
						-webkit-border-radius: 0;
						-moz-border-radius: 0;
						border-radius: 0;
					}
				}
			}
		}
	}
}
.intro-links{
	margin-bottom: 83px;
	@include box-flex;
	justify-content: space-between;
	flex-wrap: wrap;
	li{
		margin-bottom: 55px;
		width: 46%;
		a{
			display: block;
			@include fade(all);
			padding: 6px;
			background: url('../images/bg-border-intro-links.jpg') no-repeat;
			-webkit-background-size: 100% 100%;
			background-size: 100% 100%;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			overflow: hidden;
			.hold{
				@include box-flex;
				position: relative;
				height: 108px;
				align-items: center;
				background: #fff;
				-webkit-border-radius: 14px;
				-moz-border-radius: 14px;
				border-radius: 14px;
				overflow: hidden;
				strong{
					display: block;
					font-size: 20px;
					line-height: 1.75;
					margin-left: 15%;
					font-weight: normal;
					width: 60%;
					z-index: 2;
					text-shadow: 1px 1px #fff, 1px -1px #fff, -1px 1px #fff, -1px -1px #fff;
				}
				img{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					width: auto;
					z-index: 1;
				}
			}
			&:hover{
				text-decoration: none !important;
				opacity: 0.7;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		li{
			width: 47.8%;
			a{
				.hold{
					strong{
						margin-left: 5%;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin: 0 15px 23px;
		li{
			margin-bottom: 19px;
			width: 100%;
			a{
				padding: 3px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				.hold{
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					border-radius: 7px;
					height: 54px;
					strong{
						font-size: 12px;
						margin-left: 23px;
					}
				}
			}
		}

	}
}
/* notice holder */
.notice-holder{
	margin-bottom: 48px;
	background: url('../images/bg-notice-holder.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	.holder{
		padding-top: 40px;
		.notice-box{
			width: 44%;
			padding-top: 42px;
			float: left;
		}
		.experiences-box {
			width: 41.9%;
			float: right;
			margin-right: 3%;
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			.notice-box{
				width: 47%;
			}
			.experiences-box{
				width: 47%;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 18px;
		overflow: hidden;
		.holder{
			.notice-box{
				padding-top: 0;
				width: 100%;
				float: none;
				margin-bottom: 13px;
			}
			.experiences-box {
				width: auto;
				float: none;
				margin: 0 -18px 58px;
			}
		}
	}
}
/* notice box */
.notice-box{
	margin-bottom: 50px;
	overflow: hidden;
	h2{
		text-align: center;
		font-size: 27px;
		line-height: 36px;
		font-weight: normal;
		margin-bottom: 53px;
		span{
			display: inline-block;
			vertical-align: top;
			padding: 0 106px;
			position: relative;
			background: url('../images/icon2-flower-left.png') no-repeat 0 50%;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 60px;
				height: 100%;
				min-height: 36px;
				background: url('../images/icon2-flower-right.png') no-repeat 100% 50%;
				overflow: hidden;
			}
		}
	}
	.list{
		font-size: 16px;
		line-height: 1.4;
		letter-spacing: 1px;
		li{
			margin-bottom: 43px;
			a{
				.date{
					float: left;
					margin-right: 25px;
					min-width: 120px;
				}
				.txt{
					display: block;
					overflow: hidden;
				}
				&:hover span{
					text-decoration: underline;
				}
			}
		}
	}
	@media only screen and (max-width: 1100px) {
		.list{
			letter-spacing: 0;
			li{
				a{
					.date{
						min-width: 100px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		h2{
			span{
				padding: 0 90px;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		h2{
			font-size: 16px;
			margin-bottom: 24px;
			line-height: 18px;
			span{
				padding: 0 48px;
				-webkit-background-size: 30px 18px;
				background-size: 30px 18px;
				&:after{
					width: 30px;
					height: 18px;
					min-height: 18px;
					top: 50%;
					margin-top: -9px;
					-webkit-background-size: 30px 18px;
					background-size: 30px 18px;
					background-position: 100% 50%;
				}
			}
		}
		.list{
			font-size: 12px;
			line-height: 22px;
			margin: 0 17px;
			li{
				margin-bottom: 26px;
				a{
					.date{
						display: block;
						float: none;
						margin: 0;
					}
				}
			}
		}
	}
}
/* experiences box */
.experiences-box{
	position: relative;
	img{
		display: block;
		width: 100%;
	}
	h2{
		position: absolute;
		top: 24%;
		left: 0;
		right: 0;
		padding: 0 20px;
		text-align: center;
		font-size: 23px;
		line-height: 1.2;
		font-weight: normal;
		letter-spacing: 2px;
	}
	.link-holder{
		position: absolute;
		bottom: 19%;
		left: 0;
		right: 0;
		text-align: center;
		padding-left: 12px;
		a{
			display: inline-block;
			vertical-align: top;
			padding: 0 30px;
			-webkit-border-radius: 17px;
			-moz-border-radius: 17px;
			border-radius: 17px;
			background: #f5f0dd;
			font-size: 14px;
			line-height: 35px;
		}
	}
	@media only screen and (max-width: 1000px) {
		h2{
			letter-spacing: 0;
		}
		.link-holder{
			bottom: 17%;
			a{
				padding: 0 20px;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 58px;
		h2{
			font-size: 17px;
			letter-spacing: 1.5px;
		}
		.link-holder{
			bottom: 16.5%;
			a{
				font-size: 12px;
				line-height: 40px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				padding: 0 23px;
			}
		}
	}
}
/* page title */
.page-title{
	margin-bottom: 60px;
	background: url('../images/bg-page-title.jpg') no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	overflow: hidden;
	&.service-title{
		margin-bottom: 47px;
	}
	.title{
		background: url('../images/bg-bot-page-title.png') no-repeat 50% 100%;
		.holder{
			@include box-flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			height: 256px;
			.frame{
				padding-top: 15px;
				h2{
					margin-bottom: 7px;
					font-size: 32px;
					line-height: 1.2;
					font-weight: normal;
					color: #78684a;
					width: 100%;
					letter-spacing: 7px;
				}
				h3{
					font-size: 15px;
					line-height: 1.2;
					font-weight: normal;
					color: #e2a843;
					width: 100%;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		&.service-title{
			margin-bottom: 40px;
		}
		.title{
			.holder{
				height: 250px;
				.frame{
					padding-top: 10px;
					h2{
						font-size: 28px;
					}
					h3{
						font-size: 14px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 50px;
		&.service-title{
			margin-bottom: 30px;
		}
		.title{
			-webkit-background-size: 100% auto;
			background-size: 100% auto;
			.holder{
				height: 140px;
				.frame{
					padding-top: 5px;
					h2{
						font-size: 18px;
						margin-bottom: 5px;
					}
					h3{
						font-size: 13px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 480px) {
		margin-bottom: 30px;
		.title {
			.holder {
				height: 120px;
				.frame {
					padding-top: 10px;
					h2{
						font-size: 16px;
						letter-spacing: 5px;
					}
					h3{
						font-size: 12px;
					}
				}
			}
		}
	}
}
/* director block */
.director-block{
	margin-bottom: 62px;
	overflow: hidden;
	.holder{
		.images{
			width: 50%;
			margin-right: 45px;
			float: left;
			background: url('../images/bg-images-director.jpg') no-repeat 33.6% 100%;
			img{
				display: block;
				width: 100%;
			}
			.img1{
				margin: 4px 0 15px 0.9%;
				width: 92.5%;
			}
			.img2{
				margin-left: 6.8%;
				width: 43.5%;
			}
			.img3{
				margin: -47px 0 33px 49.17%;
				width: 32.596%;
			}
		}
		.text-box{
			overflow: hidden;
			.box{
				overflow: hidden;
				letter-spacing: 3px;
				h3{
					margin-bottom: 7px;
					font-size: 14px;
					line-height: 24px;
					font-weight: normal;
					color: #78684a;
					letter-spacing: 1px;
					span{
						display: inline-block;
						vertical-align: top;
						padding: 0 18px;
						background: #fdebec;
						-webkit-border-radius: 12px;
						-moz-border-radius: 12px;
						border-radius: 12px;
					}
				}
				p{
					margin-bottom: 30px;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		.holder{
			.images{
				margin-right: 20px;
				.img3{
					margin-top: 0;
					margin-bottom: 60px;
				}
			}
			.text-box{
				.box{
					letter-spacing: 1px;
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		.holder {
			.images {
				width: 40%;
				-webkit-background-size: 35px 34px;
				background-size: 35px 34px;
				margin-bottom: 20px;
				.img2 {
					margin-bottom: 10px;
					width: 60%;
				}
				.img3 {
					width: 50%;
					margin-left: 40%;
					margin-bottom: 40px;
				}
			}
			.text-box {
				overflow: visible;
				.box {
					font-size: 12px;
					line-height: 20px;
					h3 {
						font-size: 12px;
						line-height: 20px;
						span {
							-webkit-border-radius: 10px;
							-moz-border-radius: 10px;
							border-radius: 10px;
						}
					}
					p {
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
/* anchor links */
.anchor-links{
	margin-bottom: 113px;
	.holder{
		.links{
			@include box-flex;
			justify-content: space-between;
			li{
				width: 12.5%;
				a{
					display: block;
					font-size: 17px;
					line-height: 25px;
					letter-spacing: -1px;
					color: $brown;
					padding: 4px;
					text-align: center;
					-webkit-border-radius: 14px;
					-moz-border-radius: 14px;
					border-radius: 14px;
					background: url('../images/bg-anchor-links.jpg') no-repeat;
					-webkit-background-size: 100% 100%;
					background-size: 100% 100%;
					overflow: hidden;
					@include fade(opacity);
					&:hover{
						text-decoration: none !important;
						opacity: 0.7;
					}
					span{
						@include box-flex;
						align-items: center;
						text-align: center;
						justify-content: center;
						height: 65px;
						padding: 0 5px;
						background: $white;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
					}
				}
			}
		}
	}
	&.centered{
		.holder{
			.links{
				justify-content: center;
				margin-left: -11px;
				margin-right: -11px;
				li{
					padding: 0 11px;
					width: 14.2%;
					@include box-sizing;
				}
			}
		}
	}
	@media only screen and (max-width: 1100px) {
		.holder {
			.links {
				li {
					width: 13.5%;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		margin-bottom: 80px;
		.holder {
			.links {
				li {
					a{
						font-size: 15px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 50px;
		.holder {
			.links {
				margin-left: -10px;
				justify-content: center;
				flex-wrap: wrap;
				li {
					width: 25%;
					padding: 0 5px 10px;
					@include box-sizing;
					a{
						font-size: 14px;
						line-height: 1.1;
						span{
							height: 50px;
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: 480px) {
		margin-bottom: 40px;
		.holder {
			.links {
				li {
					width: 33.33%;
					a{
						font-size: 13px;
					}
				}
			}
		}
	}
}
/* massage info */
.massage-info{
	margin-bottom: 120px;
	overflow: hidden;
	&.box2{
		margin-bottom: 75px;
	}
	&.box3{
		margin-bottom: 108px;
	}
	.holder{
		.heading{
			margin-bottom: 47px;
		}
		.image-text{
			margin-bottom: 30px;
			overflow: hidden;
			.image{
				margin: 4px 0 0 9%;
				width: 32.32%;
				float: right;
				img{
					display: block;
					width: 100%;
				}
			}
			.text{
				overflow: hidden;
				letter-spacing: 2.9px;
			}
		}
	}
	p{
		margin-bottom: 30px;
	}
	@media only screen and (max-width: 1000px) {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 100px;
		&.box2{
			margin-bottom: 60px;
		}
		&.box3{
			margin-bottom: 80px;
		}
		p{
			margin-bottom: 24px;
		}
		.holder{
			.image-text{
				.image{
					margin-left: 4%;
				}
				.text{
					letter-spacing: 2px;
					font-size: 14px;
					line-height: 24px;
					p{
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 60px;
		font-size: 12px;
		line-height: 20px;
		&.box2{
			margin-bottom: 40px;
		}
		&.box3{
			margin-bottom: 50px;
		}
		p{
			margin-bottom: 20px;
		}
		.holder{
			.heading{
				margin-bottom: 25px;
			}
			.image-text{
				.image{
					margin: 0 0 20px;
					float: none;
					width: 100%;
				}
				.text{
					letter-spacing: 1px;
					font-size: 12px;
					line-height: 20px;
					p{
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}
.heading{
	margin-bottom: 50px;
	text-align: center;
	font-size: 26px;
	line-height: 36px;
	font-weight: normal;
	color: #78684a;
	letter-spacing: 5px;
	span{
		display: inline-block;
		vertical-align: top;
		padding: 0 78px;
		position: relative;
		background: url('../images/icon3-flower-left.png') no-repeat 0 50%;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			height: 100%;
			min-height: 36px;
			background: url('../images/icon3-flower-right.png') no-repeat 100% 50%;
			overflow: hidden;
		}
	}
	@media only screen and (max-width: 1000px) {
		margin-bottom: 40px;
		font-size: 22px;
		letter-spacing: 2px;
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 2;
		span{
			padding: 0 54px;
			-webkit-background-size: 36px 19px;
			background-size: 36px 19px;
			background-position: 0 50%;
			&:after {
				top: 50%;
				margin-top: -10px;
				width: 36px;
				height: 19px;
				min-height: 19px;
				-webkit-background-size: 36px 19px;
				background-size: 36px 19px;
			}
		}
	}
}
.troubles-box{
	margin: 0 auto 50px;
	max-width: 900px;
	@include box-sizing;
	background: #fff1ef;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 29px 50px 37px 74px;
	overflow: hidden;
	&.box2{
		margin-bottom: 60px;
	}
	h3{
		margin-bottom: 29px;
		text-align: center;
		font-size: 22px;
		line-height: 1.2;
		font-weight: normal;
		letter-spacing: 5px;
		color: #78684a;
	}
	.list-columns{
		overflow: hidden;
		ul{
			width: 42%;
			float: right;
			letter-spacing: 5px;
			overflow: hidden;
			&:nth-child(odd){
				float: left;
				width: 58%;
			}
			&.wide{
				width: 100% !important;
				float: none !important;
			}
			li{
				position: relative;
				padding-left: 22px;
				font-size: 18px;
				line-height: 36px;
				&:after{
					content: '';
					position: absolute;
					top: 10px;
					left: 0;
					width: 16px;
					height: 16px;
					background: #706145;
					-webkit-border-radius: 8px;
					-moz-border-radius: 8px;
					border-radius: 8px;
				}
			}
		}
		&.info{
			ul{
				width: 58%;
				&:nth-child(odd){
					width: 40%;
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		padding: 25px;
		h3{
			font-size: 20px;
			letter-spacing: 3px;
		}
		.list-columns{
			ul{
				width: 48%;
				&:nth-child(odd){
					width: 51%;
				}
				li{
					letter-spacing: 3px;
					font-size: 16px;
					line-height: 32px;
					&:after{
						top: 8px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 40px;
		&.box2{
			margin-bottom: 50px;
		}
		h3{
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
			letter-spacing: 2px;
		}
		.list-columns{
			ul{
				li{
					letter-spacing: 2px;
					padding-left: 20px;
					font-size: 14px;
					line-height: 28px;
					&:after{
						width: 10px;
						height: 10px;
						top: 9px;
						-webkit-border-radius: 5px;
						-moz-border-radius: 5px;
						border-radius: 5px;
					}
				}
			}
		}
	}
	@media only screen and (max-width: 600px) {
		margin-bottom: 30px;
		&.box2{
			margin-bottom: 40px;
		}
		h3{
			margin-bottom: 20px;
			font-size: 15px;
			letter-spacing: 1px;
		}
		.list-columns{
			ul {
				width: 100% !important;
				float: none;
				li {
					letter-spacing: 1px;
					padding-left: 16px;
					font-size: 12px;
					line-height: 22px;
					&:after {
						width: 8px;
						height: 8px;
						top: 7px;
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
					}
				}
			}
		}
	}
}
/* info boxes */
.info-box{
	margin-bottom: 110px;
	overflow: hidden;
	&.last{
		margin-bottom: 95px;
	}
	h2.heading{
		margin-bottom: 48px;
		span{
			padding: 0 84px;
		}
	}
	.image-text{
		overflow: hidden;
		.image{
			margin: 10px 0 0 9%;
			width: 32.32%;
			float: right;
			img{
				display: block;
				width: 100%;
			}
		}
		.text-box{
			letter-spacing: 3px;
			overflow: hidden;
			p{
				margin-bottom: 30px;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		margin-bottom: 90px;
		h2.heading{
			margin-bottom: 40px;
		}
		.image-text{
			.image{
				margin-left: 4%;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 40px;
		&.last{
			margin-bottom: 40px;
		}
		h2.heading{
			margin-bottom: 20px;
			span{
				padding: 0 54px;
			}
		}
		.image-text{
			.image{
				margin: 0 0 20px;
				float: none;
				width: 100%;
			}
			.text-box{
				letter-spacing: 1px;
				font-size: 12px;
				line-height: 20px;
				p{
					margin-bottom: 20px;
				}
			}
		}
	}
}
/* material box */
.material-box{
	margin-bottom: 130px;
	overflow: hidden;
	.holder{
		h2.heading{
			margin-bottom: 57px;
			span{
				padding: 0 84px;
			}
		}
		h3{
			margin-bottom: 34px;
			padding-left: 36px;
			position: relative;
			font-size: 22px;
			line-height: 1.2;
			font-weight: normal;
			letter-spacing: 4px;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 6px;
				width: 10px;
				height: 10px;
				margin-top: -5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background: #aea492;
				overflow: hidden;
			}
		}
	}
	table.table{
		margin-bottom: 76px;
		tr{
			th{
				width: 27%;
			}
			td:last-child{
				width: 46.8%;
				text-align: left;
				padding-left: 52px;
			}
		}
	}
	@media only screen and (max-width: 1000px) {
		margin-bottom: 80px;
		.holder{
			h2.heading{
				margin-bottom: 40px;
			}
			h3{
				margin-bottom: 30px;
				font-size: 20px;
			}
		}
		table.table{
			margin-bottom: 60px;
			tr{
				td:last-child{
					padding-left: 30px;
				}
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		.holder{
			h2.heading{
				margin-bottom: 30px;
			}
			h3{
				font-size: 15px;
				margin-bottom: 15px;
				padding-left: 20px;
				&:after{
					left: 4px;
					width: 8px;
					height: 8px;
					margin-top: -4px;
					-webkit-border-radius: 4px;
					-moz-border-radius: 4px;
					border-radius: 4px;
				}
			}
			table.table{
				margin-bottom: 35px;
				tr{
					td:last-child{
						padding-left: 5px;
					}
				}
			}
		}
	}
}
table.table{
	width: 100%;
	margin-bottom: 40px;
	border-top: 1px solid #e2dacc;
	tr{
		th,
		td{
			vertical-align: middle;
			font-size: 16px;
			line-height: 30px;
			font-weight: normal;
			text-align: center;
			padding: 15px 20px 14px;
			border-bottom: 1px solid #e2dacc;
			border-right: 1px solid #e2dacc;
		}
		td:last-child{
			border-right: 0;
		}
		th{
			background: #fcf7ed;
		}
	}
	@media only screen and (max-width: 1000px) {
		tr{
			th,
			td{
				padding: 15px 15px 14px;
				font-size: 14px;
				line-height: 24px;
			}
		}
	}
	@media only screen and (max-width: 736px) {
		margin-bottom: 30px;
		tr{
			th,
			td{
				padding: 10px 5px;
				font-size: 12px;
				line-height: 20px;
			}
		}
	}
}
/* flow block */
.flow-block{
	margin: 0 auto 160px;
	.holder{
		h2.heading{
			margin-bottom: 53px;
		}
		.flow-holder{
			margin: 0 auto;
			max-width: 996px;
			background: url('../images/bg-dots-vert.png') repeat-y 98px 0;
			.box{
				margin-bottom: 45px;
				overflow: hidden;
				&:last-child{
					margin-bottom: 0;
				}
				&.info-last{
					margin-bottom: 10px;
				}
				.date{
					float: left;
					margin-right: 67px;
					width: 200px;
					background: #b7f5ce;
					font-size: 18px;
					line-height: 45px;
					text-align: center;
					-webkit-border-radius: 22px;
					-moz-border-radius: 22px;
					border-radius: 22px;
					letter-spacing: 7px;
				}
				.hold{
					overflow: hidden;
					padding-top: 7px;
					.row{
						margin-bottom: 36px;
						overflow: hidden;
						.ava{
							width: 151px;
							float: left;
							h3{
								font-size: 16px;
								line-height: 30px;
								font-weight: normal;
								margin: 0 0 3px 5px;
							}
							img{
								vertical-align: top;
							}
						}
						.info{
							overflow: hidden;
							ul.list{
								li{
									padding-left: 14px;
									position: relative;
									&:after{
										content: '・';
										position: absolute;
										top: 0;
										left: 0;
										width: 14px;
										height: 30px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/* about meals block */
.about-meals {
	margin-bottom: 109px;
	overflow: hidden;
	.holder{
		
	}
}




























