// Variables
// Colors
$gray: #222;
$light-gray: #ccc;
$bg-gray: #f5f5f5;
$black: #000;
$white: #fff;
$blue: #003a9e;
$hover-color: #003a9e;

// Body
$base-font-size: 14px !default;
$base-line-height: 2 !default;
$base-text-color: $gray !default;
$base-font-family: 'HiroKakuPro', Arial, Helvetica, sans-serif !default;
$base-background-color: #f4f4f4 !default;
$base-min-width: 320px;

// Links
$base-link-color: $blue;

// Borders
$border-color: $light-gray;
