// Variables
// Colors
$light-yellow: #fcf7e7;
$black: #000;
$white: #fff;
$brown: #706145;

// Body
$base-font-size: 16px !default;
$base-line-height: 1.875 !default;
$base-text-color: $brown !default;
$base-font-family: 'Hiragino Sans GB W3', "游ゴシック体", "Yu Gothic", YuGothic, sans-serif !default;
$base-background-color: $white !default;
$base-min-width: 320px;

// Links
$base-link-color: $brown;
