/* footer */
.footer-blocks{
	margin-bottom: 102px;
	overflow: hidden;
	.info-block{
		width: 42.3%;
		float: left;
		.logo{
			display: block;
			margin: 0 0 15px 12px;
			width: 272px;
			height: 78px;
			background: url('../images/logo-pc-footer.png') no-repeat;
			text-indent: -9999px;
			overflow: hidden;
			a{
				display: block;
				height: 100%;
			}
		}
		address{
			display: block;
			margin: 0 0 13px 12px;
			font-size: 16px;
			line-height: 1.2;
			font-weight: 500;
			font-style: normal;
			letter-spacing: 1.7px;
		}
		.phone-link{
			margin: 0 0 10px 20px;
			a{
				display: inline-block;
				vertical-align: top;
				padding-left: 52px;
				background: url('../images/icon-phone-footer.png') no-repeat 0 50%;
				font-size: 35px;
				line-height: 1.2;
				letter-spacing: 4.6px;
			}
		}
	}
	.map{
		float: right;
		width: 45.7%;
		height: 388px;
		iframe{
			display: block;
			-webkit-appearance: none;
			margin: 0;
			border: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.copyright{
	margin-bottom: 25px;
	text-align: center;
	font-size: 11px;
	line-height: 1.4;
	letter-spacing: 1px;
}
@media only screen and (max-width: 1000px) {
	.footer-blocks{
		.info-block{
			width: 48%;
			.phone-link{
				a{
					letter-spacing: 2px;
				}
			}
		}
		.map{
			width: 48%;
		}
	}
}
@media only screen and (max-width: 736px) {
	.holder{
		padding-left: 25px;
		padding-right: 25px;
	}
	.footer-blocks{
		margin-bottom: 73px;
		.info-block{
			width: 100%;
			float: none;
			text-align: center;
			.logo{
				margin: 0 auto 10px;
				display: block;
				width: 161px;
				height: 46px;
				-webkit-background-size: 161px 46px;
				background-size: 161px 46px;
			}
			address{
				font-size: 9px;
				margin-bottom: 8px;
			}
			.phone-link{
				margin-bottom: 1px;
				a{
					font-size: 21px;
					padding-left: 30px;
					background: url('../images/icon-phone-footer-sp.png') no-repeat 0 50%;
					-webkit-background-size: 17px 15px;
					background-size: 17px 15px;
					letter-spacing: 3px;
				}
			}
		}
		.map{
			float: none;
			width: 100%;
			height: 194px;
		}
	}
	.copyright{
		font-size: 9px;
		letter-spacing: 0.3px;
	}
}

.inner-page #footer{
	padding-top: 197px;
	background: url('../images/bg-footer-inner.jpg') no-repeat 50% 0;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	@media only screen and (max-width: 1000px) {
		padding-top: 160px;
	}
	@media only screen and (max-width: 736px) {
		padding-top: 100px;
	}
	@media only screen and (max-width: 480px) {
		padding-top: 70px;
	}
}
.schedule-box{
	.time-row{
		margin-bottom: 11px;
		p{
			display: inline-block;
			vertical-align: top;
			margin-left: 4px;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: 1.5px;
			.ttl{
				margin-right: 10px;
				display: inline-block;
				vertical-align: top;
				padding: 0 16px;
				background: #d2eedc;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				border-radius: 12px;
				font-size: 14px;
				line-height: 24px;
				font-weight: normal;
				letter-spacing: 0;
			}
			&:first-child{
				margin-right: 27px;
			}
		}
	}
	.schedule{
		width: 100%;
		margin-bottom: 14px;
		tr{
			th,
			td{
				border: 1px solid #e4e1db;
				text-align: center;
				font-size: 14px;
				line-height: 39px;
				font-weight: normal;
				padding: 0;
				img{
					vertical-align: middle;
				}
				&:first-child{
					border-left-width: 0;
					width: 17%;
				}
				&:last-child{
					border-right-width: 0;
					width: 18%;
				}
			}
			th{
				background: #fcf7ed;
			}
		}
	}
	p.note{
		margin: 0 0 20px 15px;
		font-size: 15px;
		line-height: 28px;
	}
	@media only screen and (max-width: 736px) {
		text-align: left;
		.time-row{
			margin-bottom: 10px;
			line-height: 15px;
			p{
				margin-left: 0;
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 1px;
				.ttl{
					margin-right: 3px;
					font-size: 9px;
					line-height: 15px;
					padding: 0 10px;
				}
				&:first-child{
					margin-right: 15px;
				}
			}
		}
		.schedule{
			margin-bottom: 8px;
			tr{
				th,
				td{
					font-size: 9px;
					line-height: 23px;
					img{
						width: 11px;
					}
					&:last-child{
						width: 17%;
					}
				}
			}
		}
		p.note{
			font-size: 10px;
			line-height: 17px;
			margin: 0 0 28px 10px;
		}
	}
}