/* header */
#header {
	height: 166px;
	position: relative;
	z-index: 100;
	.holder{
		position: relative;
		height: 166px;
	}
	.logo{
		position: absolute;
		top: 29px;
		left: 50%;
		margin-left: -106px;
		width: 212px;
		height: 175px;
		text-indent: -9999px;
		background: url('../images/logo-pc.png') no-repeat;
		overflow: hidden;
		a{
			display: block;
			height: 100%;
		}
	}
	.phone-link{
		position: absolute;
		top: 22px;
		right: 0;
		width: 320px;
		height: 46px;
		background: url('../images/bg-phone-header.png') no-repeat;
		a{
			display: block;
			text-align: center;
			font-size: 25px;
			line-height: 46px;
			span{
				display: inline-block;
				vertical-align: top;
				padding-left: 40px;
				background: url('../images/icon-phone.png') no-repeat 0 50%;
			}
		}
	}
	.left-nav{
		margin: 100px 0 0 20px;
		float: left;
		li{
			margin-right: 60px;
			float: left;
		}
	}
	.right-nav{
		margin: 100px 20px 0 0;
		float: right;
		li{
			margin-left: 60px;
			float: left;
		}
	}
	.nav{
		ul{
			li{
				a{
					display: inline-block;
					vertical-align: top;
					text-align: center;
					strong{
						display: block;
						font-size: 18px;
						line-height: 22px;
						font-weight: normal;
					}
					span{
						display: block;
						font-size: 12px;
						line-height: 16px;
						color: #e2a843;
					}
				}
			}
		}
	}



}